body{
 background: white !important;
}
#bottom-container {
  font-size:14px;
  a {
    color: white;
    text-decoration: none;
  }
}

#github {
  position: absolute;
  top:20px;
  right:20px;
  a {
    img {
      width:32px;
      height:32px;
    }
  }
}